/* PALETA DE COLORES
    #0097a7
    #18ffff 
    #e0f7fa
    #23a6d5
    #23d5ab aqua
*/  
@import "https://fonts.googleapis.com/css?family=Lato:100";
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(to bottom, #101217, #101217);
}
div.row{
    margin-right: 0px;
}