/* PALETA DE COLORES
    #0097a7
    #18ffff 
    #e0f7fa
    #23a6d5
    #23d5ab aqua
*/  
@import "https://fonts.googleapis.com/css?family=Lato:100";
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(to bottom, #101217, #101217);
}
div.row{
    margin-right: 0px;
}

/*PRE LOAD*/
.loader{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #040404;
    z-index: 1000000000000;
}
.hidden{
    overflow: hidden;
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #dfc;
    border-color: #dfc transparent #dfc transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  
/**/  
  


.header_cont{
    top: 5px;
    left: 0px;
    right: 0px;
    height: 35px;
    padding: 0px 0px;
    border-radius: 50px;
    color: #e0f7fa;
    z-index: -1;
}
#header_cont_namepage a,#header_cont_sections a{
    text-decoration: none;
    color: #e0f7fa;
    text-align: center;
    font-weight:500;
}
#mobile_flags{
    visibility: hidden;
}
#mobile_flags,#desk_flags{
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
}
.flags__item{
    width: 30px;
}
.flags__item img{
    display: block;
    cursor: pointer;
    border-radius: 5px;
}

#header_cont_sections div{
    padding: 0px 10px;
    border-radius: 10px;
}
#header_cont_sections a :hover{
    background-color: #006064;
}
.bottom_cont_mobile{
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    padding: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    visibility: hidden;
    position: sticky;
    z-index: -1;
}
.__cont_bar{
    position: fixed;
    background: rgba(255, 255, 255, 0.01);
    -webkit-backdrop-filter: blur(5px); 
    backdrop-filter: blur(5px);
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
}

.gensection{
    width: 100%;
    height: 100vh;
    position: relative;
}
/*presentationsection*/
#presentation__section{
    background: linear-gradient(to bottom, #101217, #006064,#006064,#101217);
    font-family: 'Kdam Thmor Pro', sans-serif;
    color:#e0f7fa;
    visibility: hidden;
}#innerdivPres{
    transform: translate(10px,-50%);
}
#i-es{
    display: none;
}
#namePres{
    font-size: 5rem;
    text-align: center;
}
#social_media-icons{
    position: absolute;
    bottom: 175px;
}#social_media-icons a{
    margin: 0px 30px;
}#social_media icons img{
    transition: width 1s, height 1s, transform 1s;
}#social_media-icons img:hover{
    transform : scale(1.08);
}
#aboutme__section,#skills__section,#portfolio__section{
    background: linear-gradient(to bottom, #101217, #006064,#006064,#101217);
    padding: 40px 0px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 1rem;
    color:#e0f7fa;
}

.description_text{
    text-align: center;
}
.description_info{
    padding: 15px;
    justify-content: center;
    align-items: center;
    
}.description_info div{
    margin-left: 25px;
}

.skills_icons{
    justify-content: center;
    text-align: center;
}
.skills_icons div{
    width: 120px;
    transform: translate(8px,0px);
}
.skill-icon-white{
    background-color: transparent;
}
#trust__section{
    background: linear-gradient(to bottom, #101217,#006064,#006064,#006064,#101217);
    padding: 30px 0px;
}
.project_cover{
    height: auto;
}
.project_title,.project_tags,.project_buttons{
    text-align: center;
}.project_tag{
    justify-content: center;
    text-align: center;
}.project_tag i{
    font-size: 25px;
}
.htmlText{
    color: #e44d26;
}
.cssText{
    color: #2062af;
}
.jsText{
    color: #f7df1e;
}
.jsonText{
    color: #040404;
}
.githubText{
    color: #e0f7fa;
}
.gitText{
    color: #f34f29;
}
.bootstrapText{
    color: #563d7c;
}
.phpText{
    color: #474A8A;
}
.javaText{
    color: #e76f00;
}
.dartText{
    color: #2cb7f6;
}
.coreldrawText{
    color: #00863f;
}
.photoshopText{
    color: #31c5f0;
}
.jsonIcon{
    height: 21px;
    content: url('https://api.iconify.design/simple-icons/json.svg?color=%23e0f7fa');
}
.htmlText,.cssText,.jsText,.jsonText,.bootstrapText,.githubText,.gitText,.phpText,.javaText,.dartText,.coreldrawText,.photoshopText{
    font-weight: 750;
    text-shadow: 0px 0px 1px #e0f7fa;
}

.project_tags, .project_buttons{
    margin: 0px 6px;
}
.project_info{
    justify-content: center;
}
/**/.project__buttons-tags{
    width: auto;
    padding: 5px 10px;
    display: inline-flex;
    margin: 10px;
    font-weight: 750;
}
.project_button{
    /**/
    border: 2px solid #18ffff;
    background-color: #006064;
    border-radius: 15px;
    color: #e0f7fa;
    text-decoration: none;
}.project_button-a{
    text-decoration: none;
}
.project_description{
    text-align: center;
} .project_description p{
    margin-left: 10px;
}
.title__section{
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: #e0f7fa;
    padding: 0px 0px;
    font-size: 2.5rem;
    text-align: center;
}
footer{
    width: 100%;
    color: #e0f7fa;
    font-family: 'Kdam Thmor Pro', sans-serif;
}footer a{
    color: #e0f7fa;
    font-size: .8rem;
    text-decoration: none;
}a[data-value='contact_me']{
    text-decoration:underline;
}footer div{
    padding: 3px 0px;
}
#copyrightBar{
    height: 50px;
    font-size: .8rem;
    border-top: 1px solid #e0f7fa;
}
#copyrightBar span{
    margin-top:15px;
}
#contact-n-title .row{
    font-size: .8rem;
    text-align:right;
}


.bottom_bar_flashed{
    animation-name: flashing;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:flashing;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
@-moz-keyframes flashing{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}@-webkit-keyframes flashing{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}@keyframes flashing{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.middle_bottom_line{
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}
.middle_bottom_line:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 4px solid #e0f7fa ;
}




/*img*/
.iconImg{
    width: 15px;
}.iconImg-footer{
    width: 10px;
}
.iconImgMobile{
    width: 30px;
}
#photo__me{
    border-bottom:4px solid #23D5AB;
    max-width: 50%;
}
.social_media-icon{
    width: 50px;
    margin-right: auto;
}
.social_media-icon-footer{
    width: 35px;
    margin-right: 10px;
}
.skill-icon{
    width: 70px;
}
.skill-icon-tag{
    width: 20px;
}
.php_github-tag{
    width: 25px;
}
.companies_trusted{
    width: 100px;
    margin: 30px 0px;
}

.project_cover{
    width: 100%;
    border-radius: 10px;
}
.desk_project-img{
    width: 100%;
    margin: 10px 5px;
    border-radius: 10px;
}.desk_project-img-gi{
    width: 40%;
    margin: 10px 5px;
    border-radius: 10px;
}

/*scroll_section*/
.scroll_section{
    width: 20px;
    height: 40px;
    border: 2px solid #e0f7fa;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    cursor: pointer;
    transform: translate(-50%, 0%);
}
.scroll_section::before,
.scroll_section::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid #e0f7fa;
    width: 10px;
    height: 10px;
    transform: translate(-50%,-100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}
.scroll_section::after{
    top: 30%;
    animation-delay: .5s;
}
@keyframes scroll-down{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 90%;
    }
}

/*media*/
@media (max-width: 770px){
    #namePres {
        font-size: 3.5rem;
        line-height: 4rem;
    }
    .scroll_section{
        bottom: 110px;
    }
    #header_cont_sections a{
        display: none;
    }
    .bottom_cont_mobile,#mobile_flags{
        visibility: visible;
    }
    .title__section{
        font-size: 2rem;
    }
    .skill-icon{
        width: 50px;
    }
}