/* PALETA DE COLORES
    #0097a7
    #18ffff 
    #e0f7fa
    #23a6d5
    #23d5ab aqua
*/  
@import "https://fonts.googleapis.com/css?family=Lato:100";
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(45deg, #2EA6D5, #2EA6D5);
}
div.row{
    margin-right: 0px;
}
.header_cont{
    top: 5px;
    left: 0px;
    right: 0px;
    height: 35px;
    padding: 0px 0px;
    border-radius: 50px;
    color: #e0f7fa;
}
#header_cont_namepage a,#header_cont_sections a{
    text-decoration: none;
    color: #e0f7fa;
    text-align: center;
    font-weight:500;
}
#mobile_flags{
    visibility: hidden;
}
#mobile_flags,#desk_flags{
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
}
.flags__item{
    width: 30px;
}
.flags__item img{
    display: block;
    cursor: pointer;
    border-radius: 5px;
}

#header_cont_sections div{
    padding: 0px 10px;
    border-radius: 10px;
}
#header_cont_sections a :hover{
    background-color: #006064;
}
.bottom_cont_mobile{
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    padding: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    visibility: hidden;
    position: sticky;
}
.__cont_bar{
    position: fixed;
    z-index: 5;
    background: rgba(255, 255, 255, 0.01);
    -webkit-backdrop-filter: blur(5px); 
    backdrop-filter: blur(5px);
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
}

.gensection{
    width: 100%;
    height: 100vh;
    position: relative;
}
/*presentationsection*/
#presentation__section{
    background: linear-gradient(45deg, #2EA6D5, #23D5AB);
    font-family: 'Kdam Thmor Pro', sans-serif;
}#innerdivPres{
    transform: translate(10px,-50%);
}
#i-es{
    display: none;
}
#namePres{
    font-size: 5rem;
    text-align: center;
}
#social_media-icons{
    position: absolute;
    bottom: 175px;
}#social_media-icons a{
    margin: 0px 30px;
}#social_media icons img{
    transition: width 1s, height 1s, transform 1s;
}#social_media-icons img:hover{
    transform : scale(1.08);
}
#aboutme__section,#skills__section,#portfolio__section{
    background: linear-gradient(45deg, #2EA6D5, #23D5AB);
    padding: 40px 0px;
}

.skills_icons{
    justify-content: center;
    text-align: center;
}
.skills_icons div{
    width: 120px;
    transform: translate(8px,0px);
}
.skill-icon-white{
    background-color: transparent;
}

#trust__section{
    background-image: linear-gradient(to right, #2EA6D5,#23D5AB,#2EA6D5);
}
.title__section{
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: #e0f7fa;
    padding: 0px 0px;
    font-size: 2.5rem;
    text-align: center;
}
.bottom_bar_flashed{
    animation-name: flashing;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:flashing;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
@-moz-keyframes flashing{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}@-webkit-keyframes flashing{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}@keyframes flashing{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.middle_bottom_line{
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}
.middle_bottom_line:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 4px solid #e0f7fa ;
}


/*img*/
.iconImg{
    width: 15px;
}
.iconImgMobile{
    width: 30px;
}
#photo__me{
    border-bottom:4px solid #23D5AB;
    max-width: 50%;
}
.social_media-icon{
    width: 50px;
    margin-right: auto;
}
.skill-icon{
    width: 70px;
    border: 1px solid black;
}
.companies_trusted{
    width: 100px;
    margin: 15px 0px;
}
.desk_project-img{
    width: 100%;
    margin: 10px 6px;
    border-radius: 10px;
}

/*scroll_section*/
.scroll_section{
    width: 20px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    cursor: pointer;
    transform: translate(-50%, 0%);
}
.scroll_section::before,
.scroll_section::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid black;
    width: 10px;
    height: 10px;
    transform: translate(-50%,-100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}
.scroll_section::after{
    top: 30%;
    animation-delay: .5s;
}
@keyframes scroll-down{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 90%;
    }
}

/*media*/
@media (max-width: 770px){
    #namePres {
        font-size: 3.5rem;
        line-height: 4rem;
    }
    .scroll_section{
        bottom: 110px;
    }
    #header_cont_sections a{
        display: none;
    }
    .bottom_cont_mobile,#mobile_flags{
        visibility: visible;
    }
    .title__section{
        font-size: 2rem;
    }
    .skill-icon{
        width: 50px;
        border: 1px solid black;
    }
}